body
{
	background-color:#ADFAE1;
	font-family:"Homer Simpson", Times;
}
#contenido
{
	width:960px;
	margin:0 auto;
	text-align:center;
	color:#1D1D1D;
}
h1
{
	color:#0000FF;
	font-weight: bold;
	font-size: 20px;
}
p2
{
  color:#025206;
  font-size: 20px;
  font-weight: bold;
}
	nav	ul	li	
{
	display:inline-block;
	margin-right:20px;
	color:#0C0909;
	cursor:pointer;
	padding:5px;
	
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
