body
{
	background-color:#ADFAE1;
	font-family:"Homer Simpson", Times;
}
#contenido
{
	width:1800px;
	margin:0 auto;
	text-align:center;
	color:#1D1D1D;
}
p2
{
  color:#025206;
  font-size: 20px;
  font-weight: bold;
}
nav	ul	li	
{
	display:inline-block;
	margin-right:20px;
	color:#0C0909;
	cursor:pointer;
	padding:5px;
	
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
}
nav ul li:hover 
{
	background-color:#FAD7D7;
	color:#0C0909;
	border-radius: 5px;
}	
#Texto
{
	width:500px;
	height:1000px;
	“background-color: rgba(0,0,255,0.5);”
	color:#000000;
	margin:0 auto;
	text-align:left;
	border-radius:20px;
	padding:20px;
	box-shadow:0px 0px 50px rgba(0,0,0,0.5);
}
footer
{
	color:#A7AE43;
	bottom:0px;
	font-size: 20px;
	font-weight: bolder;
	background-color: #1d1d1d;
	border-radius:10px;
}
label
{
	display: block;
	color: #e44e2d;
	font-weight: bolder;
	font-size: 20px;

}
#btnSubmit
{
	border:none;
	background-color:#e44e2d;
	color:#FFF;
	padding:4px;
	margin: 20px;
	cursor:pointer; 
}
#calificacion
{
	width:150px;
	-webkit-appearance:none;
	background-color:#FFF;
	height: 20px;
	border-radius: 5px;
	cursor: pointer;
}
#calificacion::-webkit-slider-thumb
{
	-webkit-appearance:none;
	background-color:#e44e2d;
	border-radius:10px;
	height:15px;
	width:10px;
}	
p
{
	color: #800000;
	font-size: 25px;
	font-weight: bolder;

}
p3
{
	color:#880611;
	font-size:28px;
}
marquee
{
	color:#880611;
	font-weight: bolder;
}
ul li a
{
	font-weight: bold;
	color:#D16517;

}
h
{
	color: #8C8C8C;
	font-weight: bold;
	font-size: 60px;
}
h3
{
	color: #06EA32;
	font-size: 40px;
	font-weight: bold;

}
p a
{
	font-weight: bold;
	color:#00F41E;
	font-size: 25px;
	background-color: #1d1d1d;
	border-radius: 5px;
	padding: 5px;

} 
li a 
{
	color: #0C0909;
	font-size: 20px;
