body
{
	background-color:#ADFAE1;
	font-family:"Homer Simpson", Times;
}
#contenido
{
	width:960px;
	margin:0 auto;
	text-align:center;
	color:#1D1D1D;
}
p2
{
  color:#800000;
  font-size:30px;
  font-weight: bold;
}
nav	ul	li	
{
	display:inline-block;
	margin-right:20px;
	color:#0C0909;
	cursor:pointer;
	padding:5px;
	
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
}
nav ul li:hover 
{
	background-color:#D6D6D6;
	color:#1d1d1d;
	border-radius: 5px;
}	
#Texto
{
	width:1000px;
	height:1100px;
	“background-color: rgba(0,0,255,0.5);”
	color:#000000;
	margin:0 auto;
	text-align:left;
	border-radius:20px;
	padding:20px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}
footer
{
	color:#A7AE43;
	bottom:0px;
	font-size: 20px;
	font-weight: bolder;
	background-color: #1d1d1d;
	border-radius:10px;
	bottom: 0px; 
}
#calificacion
{
	width:150px;
	-webkit-appearance:none;
	background-color:#FFF;
	height: 20px;
	border-radius: 5px;
	cursor: pointer;
}
p
{
	color:#025206;
	font-size: 40px;
	font-weight: bolder;
}
marquee
{
	color:#880611;
	font-weight: bolder;
}
ul li a
{
	font-weight: bold;
	color:#1d1d1d;
	font-size: 20px;

}
h
{
	color: #8C8C8C;
	font-weight: bold;
	font-size: 60px;
}
